@model String

<div class="row" style="margin-left: auto; margin-right: auto; padding-top: 15vh; padding-bottom: 15vh; background-color: @(Model);">
    <div class="col-md-2 col-sm-6 mx-auto text-center" style="line-height: 14px; letter-spacing: -1px;">
        <img src="@Url.Content("~/Public/img/1.png")" style="width: 110px;">
    </div>
    <div class="col-md-2 col-sm-6 mx-auto text-center" style="line-height: 14px; letter-spacing: -1px;">
        <img src="@Url.Content("~/Public/img/2.png")" style="width: 110px;">
    </div>
    <div class="col-md-2 col-sm-6 mx-auto text-center" style="line-height: 14px; letter-spacing: -1px;">
        <img src="@Url.Content("~/Public/img/3.png")" style="width: 110px;">
    </div>
    <div class="col-md-2 col-sm-6 mx-auto text-center" style="line-height: 14px; letter-spacing: -1px;">
        <img src="@Url.Content("~/Public/img/4.png")" style="width: 110px;">
    </div>
    <div class="col-md-2 col-sm-6 mx-auto text-center" style="line-height: 14px; letter-spacing: -1px;">
        <img src="@Url.Content("~/Public/img/5.png")" style="width: 110px;">
    </div>
    <div class="col-md-2 col-sm-6 mx-auto text-center" style="line-height: 14px; letter-spacing: -1px;">
        <img src="@Url.Content("~/Public/img/6.png")" style="width: 110px;">
    </div>
</div>